// Border radius container
.sticky-border-radius-container {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;

    &>div {
        width: 100%;
    }

    .Polaris-RangeSlider {
        flex: 1;
    }

    .border-radius-input {
        display: flex;
        align-items: center;
        padding: 8px 12px;
        border: 1px solid #DFDFDF;
        border-radius: 12px;
        background-color: #FFFFFF;
        width: 80px;

        input {
            border: none;
            outline: none;
            font-size: 16px;
            text-align: center;
            width: 40px;
            background-color: transparent;
        }

        .unit {
            color: #6D7175;
            font-size: 14px;
            margin-left: 4px;
        }
    }
}

.sy-range-slider-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;

    & :first-child {
        width: 100%;
    }
}

.sy-range-slider-unit-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border: 1px solid #DFDFDF;
    border-radius: 12px;
    padding: 8px 12px;
    background-color: #FFFFFF;
    min-width: 80px;

    .sy-border-radius-input-number {
        border: none;
    }

    .unit {
        color: #6D7175;
    }
}

.color-input-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #DFDFDF;
    border-radius: 8px;
    padding: 8px;

    input {
        border: none;
    }

    .color-input-type-color {
        width: 100%;
        height: 20px;
        border-radius: 4px;
        cursor: text;
        text-transform: uppercase;
        background-color: transparent;
        border: 0;
        padding: 0;
        font-size: 12px;
        font-family: monospace;
        outline: none;
        color: #141414;

        &:focus {
            background-color: #f6f6f7;
        }

        &::placeholder {
            color: #8c9196;
        }
    }

    .quantity-color-input {
        width: 80px;
        border: none;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
}

.input-and-unit-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 4px;

    &>div:first-of-type {
        width: 100%;
    }
}

// Sticky preview positioning classes
.sy-sticky-add-to-cart-preview {
    position: absolute;
    max-width: 100%;
}

.sy-sticky-add-to-cart-preview--mobile {
    bottom: 0;
    right: 0;
    flex-direction: column;
    gap: 12px;

    .sy-sticky-add-to-cart-preview__button {
        width: 100%;
        justify-content: center;
    }
}

.sy-sticky-add-to-cart-preview__cart-icon,
.Polaris-Icon {
    margin: 0;
}

.sy-sticky-add-to-cart-preview--desktop {
    bottom: 20px;

    .sy-sticky-add-to-cart-preview__actions {
        justify-content: flex-end;
    }
}

// Desktop positioning
.sy-sticky-add-to-cart-preview--desktop--full-width {
    right: 20px;
    left: 20px;
    transform: none;
}

.sy-sticky-add-to-cart-preview--desktop--contained--left {
    right: auto;
    left: 20px;
    transform: none;
}

.sy-sticky-add-to-cart-preview--desktop--contained--center {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
}

.sy-sticky-add-to-cart-preview--desktop--contained--right {
    right: 20px;
    left: auto;
    transform: none;
}

// Mobile positioning
.sy-sticky-add-to-cart-preview--mobile--full-width {
    right: 0;
    left: 0;
    transform: none;
}

.sy-sticky-add-to-cart-preview--mobile--contained--left {
    right: auto;
    left: 0;
    transform: none;
}

.sy-sticky-add-to-cart-preview--mobile--contained--center {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
}

.sy-sticky-add-to-cart-preview--mobile--contained--right {
    right: 0;
    left: auto;
    transform: none;
}

.sy-live-badge {
    background: #E3F1DF;
    color: #108043;
    border-radius: 4px;
    padding: 2px 8px;
    font-size: 12px;
}

.sy-paused-badge {
    background: #FEF7F0;
    color: #B95000;
}

.sy-live-badge-wrapper {
    margin-left: 8px;
}

.sy-sticky-add-to-cart-preview__button {
    border-radius: 12px;
    border: none;
    cursor: pointer;
    height: 42px;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 6px;
    white-space: nowrap;
}

.sy-sticky-add-to-cart-preview__content {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
    width: 100%;
}

.sy-sticky-add-to-cart-preview__quantity-button {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
    padding: 0;
    color: #727272;
}

.sy-sticky-add-to-cart-preview__quantity-text {
    font-size: 14px;
    font-weight: 600;
    background: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sy-quantity-wrapper {
    display: flex;
    align-items: center;
    color: #141414;
    border-radius: 12px;
    overflow: hidden;
    background: #fff;
    height: 42px;
    min-width: 80px;
    border: 1px solid #DFDFDF;
    padding: 11px;
    justify-content: space-between;
}

.sy-sticky-add-to-cart-preview__actions {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
    width: 100%;
}

// Custom tabs styling
.customize-tabs-wrapper {
    margin-bottom: 16px;

    .Polaris-Tabs__Outer {
        &>.Polaris-Box {
            padding: 0;
        }
    }
}